# Chapter 1

### INNER JOIN

<center><img src="images/01.01.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.03.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.02.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.04.png"  style="width: 400px, height: 300px;"/></center>

```
SELECT left.colx, right.coly, another.colz
FROM left_table as left
INNER JOIN right_table as right -- First inner join
ON left.common_col = right.common_col
INNER JOIN another_table as another -- Second chaining inner join
ON right.colz = another.colz AND right.coly = another.coly -- multiple column matching condition
WHERE left.colx = 'val'
```

### Relationships

<center><img src="images/01.05.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.06.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.07.png"  style="width: 400px, height: 300px;"/></center>

# Chapter 2

### LEFT OUTER JOIN

<center><img src="images/02.01.png"  style="width: 400px, height: 300px;"/></center>

### RIGHT OUTER JOIN

<center><img src="images/02.02.png"  style="width: 400px, height: 300px;"/></center>

### FULL OUTER JOIN

<center><img src="images/02.03.png"  style="width: 400px, height: 300px;"/></center>

### CROSS JOIN

<center><img src="images/02.04.png"  style="width: 400px, height: 300px;"/></center>

# Chapter 3

### SET operations

<center><img src="images/03.01.png"  style="width: 400px, height: 300px;"/></center>

### UNION

<center><img src="images/03.02.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/03.03.png"  style="width: 400px, height: 300px;"/></center>

### UNION ALL

<center><img src="images/03.04.png"  style="width: 400px, height: 300px;"/></center>

### INTERSECT

<center><img src="images/03.05.png"  style="width: 400px, height: 300px;"/></center>

### EXCEPT

<center><img src="images/03.06.png"  style="width: 400px, height: 300px;"/></center>

# Chapter 4

### Semi Join

<center><img src="images/04.01.png"  style="width: 400px, height: 300px;"/></center>

### Anti Join

<center><img src="images/04.02.png"  style="width: 400px, height: 300px;"/></center>

### Subqueries

```
-- Simple query with two tables
SELECT left_table.colx, right_table.coly
FROM left_table, right_table
WHERE left_table.common_col = right_table.common_col

-- Subquery inside FROM (turning a query into virtual table using alias, evolving from the previous query)
SELECT left_table.colx, right_table.coly
FROM left_table,
    (SELECT coly, colz, common_col          -- subquery start
    FROM another_table) AS right_table      -- subquery end
WHERE left_table.common_col = right_table.common_col
ORDER BY continent;


-- Subquery inside WHERE (You use it in Semi join / Anti Join)
SELECT left_table.*
FROM left_table
WHERE left_table.some_col <NOT> IN  -- Using "NOT" will result in Anti join
        (                           -- subquery start
            SELECT another_col      
            FROM right_table
        );                          -- subquery end

-- Subquery inside SELECT
SELECT
    outer_table.id,
    (SELECT COUNT(*) FROM inner_table WHERE outer_table.id = inner_table.id) AS new_col_1,              -- subquery 1
    (SELECT AVG(some_column) FROM inner_table WHERE outer_table.id = inner_table.id) AS new_col_2,      -- subquery 2
    (SELECT MAX(another_column) FROM inner_table WHERE outer_table.id = inner_table.id) AS new_col_3    -- subquery 3
FROM
    outer_table;

-- Using the WITH keyword (creating multiple virtual tables)
WITH
result_table1 AS (
    SELECT col1, col2 FROM t1),             -- subquery 1
result_table2 AS (
    SELECT colx, coly FROM t2)              -- subquery 2
SELECT * FROM result_table1, result_table2
WHERE result_table1.col1 <= result_table2.col2
```

# Summary

- `JOIN` Operations: stacks tables horizontally (number of columns increase)
    - `LEFT JOIN` : Keep everything from Left table, keep the value from right table if matches, otherwise null
    - `RIGHT JOIN` : Keep everything from Right table, keep the value from left table if matches, otherwise null
    - `FULL JOIN` : Keep everything from both left and right tables, if values do not matche, make them null (Union of Left and Right join)
    - `CROSS JOIN` : All possible combination between left and right table
    - Self Join : Make the same table appear as both left table and right table and then perform INNER JOIN on it using aliases (Remember to remove duplicate entries with `AND` after `ON` eg : `ON ... AND left.userID <> right.userID` )
    - Semi (LEFT) JOIN : Returns all rows from LEFT table if the values of common column in left table matches the list of values of a column in right table
    - Anti (LEFT) JOIN : Returns all rows from LEFT table if the values of common column in left table matches the list of values of a column in right table
- `SET` Operations : stacks tables vertically (number of rows increase)
    - `UNION` : All Results are returned without duplicates
    - `UNION ALL` : All Results are returned with duplicates
    - `INTERSECT` : Only results where both fields match are returned 
    - `EXCEPT` : Only records from one table that is not present in other table

```
-- TYPE can be INNER, FULL, LEFT, RIGHT, CROSS (Addittive joins)
SELECT left.colx, right.coly, another.colz
FROM left_table as left
<TYPE> JOIN right_table as right -- First join
ON left.common_col = right.common_col
<TYPE> JOIN another_table as another -- Second chaining join
ON right.colz = another.colz AND right.coly = another.coly -- multiple column matching condition
WHERE left.colx = 'val'

-- Semi Join
SELECT left_table.*
FROM left_table
WHERE left_table.some_col IN (  -- subquery start
    SELECT another_col
    FROM right_table);  -- subquery end

-- Anti Join (Inverse of Semi join, add a NOT keyword)
SELECT left_table.*
FROM left_table
WHERE left_table.some_col NOT IN ( -- subquery start
    SELECT another_col
    FROM right_table ); -- subquery end

```

### Set Operations

```
-- <OPERATION> can be replaced with following keywords:
-- UNION : all values without duplicates
--  UNION ALL : all values including duplicates
-- INTERSECT: all common values
- EXCEPT : values that exist in the first entry table only and does not exist in the second entry table
SELECT id, name FROM table1
<OPERATION>
SELECT id, name FROM table2;
```