# Chapter 1

### INNER JOIN

<center><img src="images/01.01.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.03.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.02.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.04.png"  style="width: 400px, height: 300px;"/></center>

```
SELECT left.colx, right.coly, another.colz
FROM left_table as left
INNER JOIN right_table as right -- First inner join
ON left.common_col = right.common_col
INNER JOIN another_table as another -- Second chaining inner join
ON right.colz = another.colz AND right.coly = another.coly -- multiple column matching condition
WHERE left.colx = 'val'
```

### Relationships

<center><img src="images/01.05.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.06.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.07.png"  style="width: 400px, height: 300px;"/></center>