# Chapter 1

### INNER JOIN

<center><img src="images/01.01.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.03.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.02.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.04.png"  style="width: 400px, height: 300px;"/></center>

```
SELECT left.colx, right.coly, another.colz
FROM left_table as left
INNER JOIN right_table as right -- First inner join
ON left.common_col = right.common_col
INNER JOIN another_table as another -- Second chaining inner join
ON right.colz = another.colz AND right.coly = another.coly -- multiple column matching condition
WHERE left.colx = 'val'
```

### Relationships

<center><img src="images/01.05.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.06.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/01.07.png"  style="width: 400px, height: 300px;"/></center>

# Chapter 2

### Outer Joins : Left, Right, Outer JOIN

<center><img src="images/02.01.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/02.02.png"  style="width: 400px, height: 300px;"/></center>
<center><img src="images/02.03.png"  style="width: 400px, height: 300px;"/></center>

### Cross Join : All possible combinations

<center><img src="images/02.04.png"  style="width: 400px, height: 300px;"/></center>

# Summary

- Left Join : Keep everything from Left table, keep the value from right table if matches, otherwise null
- Right Join : Keep everything from Right table, keep the value from left table if matches, otherwise null
- Full Join : Keep everything from both left and right tables, if values do not matche, make them null (Union of Left and Right join)
- Cross Join : All possible combination between left and right table
- Self Join : Make the same table appear as both left table and right table and then perform INNER JOIN on it using aliases (Remember to remove duplicate entries with `AND` after `ON` eg : `ON ... AND left.userID <> right.userID` )

```
-- TYPE can be INNER, FULL, LEFT, RIGHT, CROSS
SELECT left.colx, right.coly, another.colz
FROM left_table as left
<TYPE> JOIN right_table as right -- First inner join
ON left.common_col = right.common_col
<TYPE> JOIN another_table as another -- Second chaining inner join
ON right.colz = another.colz AND right.coly = another.coly -- multiple column matching condition
WHERE left.colx = 'val'
```