# Chapter 1

- Coalesce : ` SELECT COALESCE(column_1, column_2) FROM table_name`
- Casting : `SELECT CAST (3.7 AS integer);`