# Chapter 1

- Coalesce : ` SELECT COALESCE(column_1, column_2) FROM table_name`
- Casting : `SELECT CAST (3.7 AS integer);`

# Chapter 2

- variace : `SELECT variance(col_name) FROM table_name;`
- population variace : `SELECT var_pop(col_name) FROM table_name;`
- sample variace : `SELECT var_samp(col_name) FROM table_name;`
- standard deviation : `SELECT stddev(col_name) FROM table_name;`
- population standard deviation : `SELECT stddev_pop(col_name) FROM table_name;`
- sample standard deviation : `SELECT stddev_samp(col_name) FROM table_name;`
- truncate : `SELECT trunc(42.1256, 2);` (42.12)
- series : `SELECT generate_series(1, 10, 2);` (1,3 ... , 9)
- correlation : `SELECT corr(assets, equity) FROM fortune500;`
- continuous percentile : `SELECT percentile_cont(0.5) WITHIN GROUP (ORDER BY col_name) FROM table_name;`
- discrete percentile : `SELECT percentile_disc(0.5) WITHIN GROUP (ORDER BY col_name) FROM table_name;`

### Binning

```
-- Create bins
WITH bins AS
    ( SELECT generate_series(30 , 60 , 5) AS lower, 
    generate_series(35 , 65, 5) AS upper),
-- Subset data to tag of interest
ebs AS 
    ( SELECT unanswered_count FROM stackoverflow 
    WHERE tag = 'amazon-ebs')
-- Count values in each bin
SELECT lower, upper, count(unanswered_count)
-- left join keeps all bins
FROM bins
LEFT JOIN ebs
ON unanswered_count >= lower AND unanswered_count < upper 
-- Group by bin bounds to create the groups
GROUP BY lower, upper
ORDER BY lower;
```

# Temporary table

```
-- Query results to store in the temporary table
CREATE TEMP TABLE temp_table AS
SELECT column1, column2
FROM table_name;

-- Insert values in temporary table from another table
INSERT INTO temp_table
SELECT column1, column2
FROM another_table

-- Delete temporary table
DROP TABLE IF EXISTS temp_table;
```

# Chapter 3

- lowercase : `SELECT lower('ABC');` (abc)
- uppercase : `SELECT lower('abc');` (ABC)
- pattern matching case sensitive : `SELECT * FROM table_name  WHERE col_name LIKE '%apple%';`
- pattern matching case insensitive : `SELECT * FROM table_name  WHERE col_name ILIKE '%apple%';`
- trimming : `SELECT trim('Wow!', '!wW');` (o). Also `rtrim`, `ltrim`
- substring : `SELECT substr('abcdef', 2, 3);` (bcd)
- splitting: `SELECT split_part('a,bc,d', ',', 2);` (bc)
- Concatenating : `SELECT concat('a', 2, 'cc');` (a2cc) ALSO `concat_ws()`
- Concatenating : `SSELECT 'a' || 2 || 'cc';` (a2cc) (NOTE: Any NULL will produce NULL result )

### CASE

```
SELECT 
    CASE 
        WHEN category LIKE '%: %' THEN split_part(category, ': ', 1)
        WHEN category LIKE '% - %' THEN split_part(category, ' - ', 1)
        ELSE split_part(category, ' | ', 1)
        END AS major_category, -- alias the result
sum(businesses) -- also select number of businesses
FROM naics
GROUP BY major_category;
```

### Update column

```
UPDATE table_name
SET col_name=trim(lower(col_name));
```