# Chapter 1

### `COUNT` : Row count of non-null entries

```
SELECT COUNT(column_name), COUNT(*)
FROM table_name;
```

### `DISTINCT` : Show Unique records

```
SELECT DISTINCT col1, col2 
FROM table_name;
```

### Order of execution in SQL

1. `FROM`
2. `WHERE`
3. `GROUP BY`
4. `HAVING`
5. `SELECT`
6. `ORDER BY`

### Using SQL with pandas

```
from pandasql import sqldf
import pandas as pd

# Create helper function for easier query execution
execute = lambda q: sqldf(q, globals())

# Load your CSV files into DataFrames
df1 = pd.read_csv("file1.csv")
df2 = pd.read_csv("file2.csv")

# Execute query with a join and store the result
query = """
    SELECT *
    FROM df1
    JOIN df2 ON df1.common_column = df2.common_column
"""
result_df = execute(query)

# Show results
result_df.head()

```

### Connecting Postgres with Python

```
import pandas as pd
import psycopg2

def execute_query(sql_query, dbname='hr', user='postgres', password='postgres', port='5432'):
    # Create a connection to the PostgreSQL database
    conn = psycopg2.connect(dbname=dbname, user=user, password=password, port=port)

    # Use read_sql to execute the query and load the results into a DataFrame
    df = pd.read_sql(sql_query, conn)

    # Close the database connection
    conn.close()

    # Return the DataFrame
    return df

query_result = execute_query('SELECT * FROM jobs')
print(query_result)

```

# Chapter 2

### `WHERE` : Filtering

```
SELECT col
FROM table_name
WHERE col = 'example_value';
```

### `OR` : Filtering for data that satisfy any condition

```
SELECT * 
FROM table_name 
WHERE col1='A' OR col2>=100; 
```

### `AND` : Filtering for data that satisfy all conditions

```
SELECT * 
FROM table_name 
WHERE col1='A' AND col2>=100; 
```

### `BETWEEN` : Inclusive AND within range for a single column

```
SELECT *
FROM table_name
WHERE col_name BETWEEN value1 AND value2;
```

### `LIKE` , `ILIKE`, `NOT LIKE`, `NOT ILIKE` : Pattern Matching

```
SELECT *
FROM table_name
WHERE col1 LIKE '__t%' AND col2 NOT ILIKE 'a%t_ ;
```

### `IN` : Selecting from List, alternative of multiple `OR` of a single column

```
SELECT col
FROM table_name
WHERE col IN (1920, 1930, 1940);
```

### `IS NULL`, `IS NOT NULL` : Filtering condition for missing values

``
SELECT *
FROM table_name
WHERE col1 IS NULL OR col1 IS NOT NULL;
``

# Chapter 3

### `AVG()` , `SUM()` , `MIN()` , `MAX()` , `COUNT()` : Numeric aggregation for summarization

```
SELECT SUM(col) AS sum_col, 
    AVG(col) AS avg_col,
    MIN(col) AS min_col, 
    MAX(col) AS max_col, 
    COUNT(col) AS count_col
FROM table_name;  
```

### Arithmetic in SQL : Mahtematical operations among columns

```
SELECT (gross - budget) AS profit
FROM business;
```

### `ROUND`, `CEIL` (or CEILING), `FLOOR` : Numeric Rounding Operations

```
SELECT ROUND(column_name, 2) AS two_decimal_place,
    CEIL(column_name) AS nearest_upper_int
    FLOOR(column_name) AS nearest_lower_int,
FROM table_name;
```